<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles/reset.css">
  <link rel="stylesheet" href="../styles/styles.css">
  <title>401</title>
  <script src="../scripts/lightswitch.js" defer></script>
</head>

<body>
  <header>
    <h1>401</h1>
    <button class="mode-toggle" aria-label="dark mode" aria-pressed="false"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <path d="M8 6v12h8V6zm6 4h-4V8h4zm5.4-8.4C19 1.2 18.5 1 18 1H6c-.5 0-1 .2-1.4.6S4 2.5 4 3v18c0 .5.2 1 .6 1.4s.9.6 1.4.6h12c.5 0 1-.2 1.4-.6s.6-.9.6-1.4V3c0-.5-.2-1-.6-1.4M18 21H6V3h12z" />
    </svg></button>
  </header>

  <main>
    <a href="/">Go Back</a>
    <p>You don't have access to that page!</p>
    <p><%= errorMsg %></p>
  </main>
</body>

</html>