<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles/reset.css">
  <link rel="stylesheet" href="../styles/styles.css">
  <title>401</title>
</head>

<body>
  <header>
    <h1>401</h1>
  </header>

  <main>
    <a href="/">Go Back</a>
    <p>You don't have access to that page!</p>
    <p><%= errorMsg %></p>
  </main>
  <footer>
    <p>Created by <a href="https://muahchee.net/">muahchee</a>!</p>
  </footer>
</body>

</html>