<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles/reset.css">
  <link rel="stylesheet" href="../styles/styles.css">
  <title>Create a Post</title>
  <script src="../scripts/lightswitch.js" defer></script>
</head>

<body>
  <header>
    <a href="/">Go Back</a>
    <h1>Create a Post</h1>
    <button class="mode-toggle" aria-label="dark mode" aria-pressed="false"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <path d="M8 6v12h8V6zm6 4h-4V8h4zm5.4-8.4C19 1.2 18.5 1 18 1H6c-.5 0-1 .2-1.4.6S4 2.5 4 3v18c0 .5.2 1 .6 1.4s.9.6 1.4.6h12c.5 0 1-.2 1.4-.6s.6-.9.6-1.4V3c0-.5-.2-1-.6-1.4M18 21H6V3h12z" />
    </svg></button>
  </header>
  <main>
    <%- include("partials/error.ejs") %>
    <form action="/create" enctype="multipart/form-data" method="post">
      <p>
        <label for="imgfile">Upload image?</label>
        <input class="drop-shadow" type="file" id="imgfile" name="imgfile" />
      </p>
      <p>
        <label for="imgalt">Image alt: </label>
        <input class="drop-shadow" type="text" id="imgalt" name="imgalt">
      </p>
      <p>
        <label for="text">Post text:</label>
        <textarea class="drop-shadow" name="text" id="text" required></textarea>
      </p>
      <button type="submit">Submit</button>
  </main>
  <footer>
    <p>Created by <a href="https://muahchee.net/">muahchee</a>!</p>
  </footer>

  </form>
</body>

</html>