* {
  box-sizing: border-box;
  margin: 0;
}

body {
  line-height: 2;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

.bold{
  font-weight: bold;
}

.italic{
  font-style: italic;
}

.center{
  text-align: center;
}

.off-screen {
  position: absolute;
  top: -3000px
}