body {
  --fore: #123081;
  --back: #f6eede;
  --shadow: #f4ccb9;
  --main-shadow: #a586973b;

  --accent1: #97c5e0;
  --accent2: #fff0cd;
  --h1: #3880ec;

  --borderscolor: #926a65;

  --link: #074d86;
  --visited: #9247e9;
  --focus: #f0a00c;

  width: min(1000px, 100vw);
  margin: auto;

  background-color: var(--back);
  background-image: linear-gradient(var(--accent1) 1px, transparent 1px),
    linear-gradient(to right, var(--accent1) 1px, var(--back) 1px);
  background-size: 20px 20px;

  filter: drop-shadow(0px 0px 20px var(--main-shadow));

  color: var(--fore);

  font-family: ui-rounded, "Hiragino Maru Gothic ProN", Quicksand, Comfortaa,
    Manjari, "Arial Rounded MT", "Arial Rounded MT Bold", Calibri,
    source-sans-pro, sans-serif;
  font-size: calc(1rem + 0.2vw);
}

body.dark-mode {
  --fore: #f6eede;
  --back: #19274a;
  --shadow: #b68daf;
  --main-shadow: #05033ab9;

  --accent1: #214675;
  --accent2: #06202c;
  --h1: #ee5eee;

  --borderscolor: #030513;

  --link: #98cffc;
  --visited: #e2afff;
  --focus: #fdcb6e;
}

header h1 {
  text-align: center;
  color: var(--h1);
}

a {
  color: var(--link);
}

a:visited {
  color: var(--visited);
}

header,
main,
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  background: var(--back);
  padding: 30px 0;
}

header {
  justify-content: space-evenly;
  gap: 20px;
  padding: 30px 10px 20px 10px;
  border-bottom: 2px dashed var(--accent1);
}

div.bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

main {
  flex-direction: column;
  padding-top: 50px;
}

ul.feed {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
  padding: 0;
  width: 90%;
}

li.post {
  list-style: none;

  background-color: var(--accent1);

  box-shadow: 2px -2px 0 0 var(--accent1), 0 -2px 0 0 var(--accent1),
    2px 0 0 0 var(--accent1), 0 2px 0 0 var(--accent1),
    -2px 0 0 0 var(--accent1), 0 0 0 2px var(--borderscolor),
    4px -4px 0 0 var(--borderscolor), 0 -4px 0 0 var(--borderscolor),
    4px 0 0 0 var(--borderscolor), 0 4px 0 0 var(--borderscolor),
    -4px 0 0 0 var(--borderscolor);

  padding: calc(5px + 1.5vw);
  width: min(600px, 100%);
}

.drop-shadow {
  filter: drop-shadow(10px 10px 0 var(--shadow));
}

li.post div.post-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;

  padding: calc(35px + 1vw) calc(10px + 1vw);
  border-radius: 4px;
  background-color: var(--accent2);
  border: 3px solid var(--borderscolor);
}

button.thumb {
  align-self: center;
  border: none;
  padding: 0;
  outline: none;
  background-color: transparent;
  margin: 0;
  cursor: pointer;
  display: flex;
}

button.thumb:focus-visible {
  outline: 2px solid var(--focus);
}


li.post .post-bottom {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-self: center;
  flex-wrap: wrap;
  gap: 20px;
}

.post-main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

iframe {
  max-width: 100%;
}

p:has(iframe) {
  margin: auto;
}

p.timestamp {
  margin-left: auto;
}

footer a,
a.post-control {
  border: 2px solid var(--accent1);
  border-radius: 23px;
  padding: 0 15px;
  background-color: var(--accent1);
  text-decoration: none;
}

span.kaomoji {
  text-wrap: nowrap;
}

footer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-evenly;
  padding: 30px;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

form p {
  width: 100%;
}

textarea {
  width: 100%;
  height: 700px;
}

label {
  margin-right: 10px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
}

textarea,
input {
  background-color: var(--accent2);
  color: var(--fore);
  border: 3px solid var(--borderscolor);
  padding: 10px;
}

/* --------------light switch css start--------------- */
button.mode-toggle {
  background: var(--colour1);
  cursor: pointer;
  border: none;
  outline: none;
  width: 47px;
  height: 42px;

  color: var(--colour2);
}

button.mode-toggle:focus-visible {
  outline: 4px solid var(--focus);
}

button.mode-toggle img {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

svg {
  fill: currentColor;
}

/* --------------lightbox css start--------------- */

/* prevent scrolling */
body:has(dialog[open]) {
  overflow: hidden;
}

::backdrop {
  background-color: rgb(30, 31, 32);
}

dialog {
  margin: auto;
  border: none;
  background-color: transparent;
  width: min(1000px, 90vw);
padding: 50px 0;
}

dialog img {
  margin: auto;
}

dialog form {
  position: fixed;
  left: 40%;
  top: 0;
  padding: 0
}

dialog button.close {
  color: white;
  background-color: transparent;
  outline: none;
  padding: 0;
  margin: 0;
  border: 0;
  width: 40px;
  appearance: none;
  cursor: pointer;
  font-size: 2rem;
}

dialog button.close:focus-visible {
  outline: 2px solid var(--focus);
}

